/*The beginning of my CSS file*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*LOADER
Credits to Tashfeen for his creation*/


.loader-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    background-color: #0b0d0c;
    z-index: 50001;
    top: 0;
}

.loader {
  display: inline-block;
  width: 75px;
  height: 75px;
  position: fixed;
  border: 4px solid #Fff;
  top: 80%;
  animation: loader 2s infinite ease;
  z-index: 50001;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 0.9s infinite ease-in;
  z-index: 50001;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    z-index: 50000;
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/*Logo Loader position*/
#logo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 0.5s ease forwards 3.5s;
    z-index: 50000;
}
/*Letters of loader Logo*/
#LetterJ{
    stroke-dasharray: 332.84930419921875px;
    stroke-dashoffset: 332.84930419921875px;
    animation: line-anim 1s ease forwards;
    z-index: 50000;
}
#LetterO{
    stroke-dasharray: 565.9496459960938px;
    stroke-dashoffset: 565.9496459960938px;
    animation: line-anim 1s ease forwards 0.2s;
    z-index: 50000;
}
#LetterN1{
    stroke-dasharray: 606.5611572265625px;
    stroke-dashoffset: 606.5611572265625px;
    animation: line-anim 1s ease forwards 0.3s;
    z-index: 50000;
}
#LetterA1{
    stroke-dasharray:  483.3992004394531px;
    stroke-dashoffset:  483.3992004394531px;
    animation: line-anim 1s ease forwards 0.6s;
    z-index: 50000;
}
#LetterT{
    stroke-dasharray: 356.6719970703125px;
    stroke-dashoffset: 356.6719970703125px;
    animation: line-anim 1s ease forwards 0.9s;
    z-index: 50000;
}
#LetterH{
    stroke-dasharray: 554.528076171875px;
    stroke-dashoffset: 554.528076171875px;
    animation: line-anim 1s ease forwards 1.2s;
    z-index: 50000;
}
#LetterA2{
    stroke-dasharray: 483.3992004394531px;
    stroke-dashoffset: 483.3992004394531px;
    animation: line-anim 1s ease forwards 1.5s;
    z-index: 50000;
}
#LetterN2{
    stroke-dasharray: 606.5611572265625px;
    stroke-dashoffset: 606.5611572265625px;
    animation: line-anim 1s ease forwards 1.8s;
    z-index: 50000;
}
/*The animation itself*/
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
        z-index: 50000;
    }
}
@keyframes fill{
    from{
        fill: transparent;
        z-index: 50000;
    }
    to{
        fill: white;
    }
}




/*My own CSS*/
/*Makes movement around the webpage more smooth*/
html {
  scroll-behavior: smooth;
}

/*The body of my webpage. By default it is in dark mode, which is the most confortable mode for me. You can switch between dark mode and light mode*/
body{
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-size: 16px;
    /*overflow-x: hidden;*/
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;  
    
    overflow: hidden;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    
}
/*Light mode*/

.light-mode-mailform {
  background-color: #ffffff;
  color: #ffffff;
  
}

.light-mode-bodybackground{
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.41' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-size: 16px;
}

.light-mode-Contact-title{
    color: #000000;
    
}
/*Button which activates Light Mode*/
#imgClickAndChange{
    height: 100px;
}




/*Avatar*/
.avatar {
  
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 250px;
  height: auto;
  border-radius: 60%;
  margin-bottom: auto;
}

/*Links*/
a{
    color: #ffffff;
    text-decoration: none;
}
.linkslight{
    color: #000;
    text-decoration: none;
}


ul{
    list-style: none;
}

.ccontainer{
    background-color: #0b0d0c;
    width: 95%;
    margin: auto;
    border-radius: 12px;
    
}
.light-mode-body {
    background-color: #ffffff;
    color: #000000;
  }
/*Navigation*/
#nav1{
 
    background-color:#b70e21;
    
  
}
#navbarNavDropdown ul li span a{
    color: #ffffff;
}
#navbarNavDropdown ul li span a:hover{
    color: #ffffff;
    font-weight: bold;
}
#navbarDropdownMenuLink{
    color: #ffffff;
}
#navbarDropdownMenuLink:hover{
    color: #ffffff;
    font-weight: bold;
}

.dropdown-item{
    color: #ffffff;
}

/*Main header*/
hr{
    margin: 10px 0;
}
.showcase div{
    width: 100%;
    height: 960px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./Images/Puerta.png) no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    z-index: 2; 
}
.showcase div h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}
/*Life cards*/

.life-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 90px 10px;
    gap: 25px;
    height: 1100px;
}
.individual-card{
    background-color: #0b0d0c;
    transition: transform .2s;
    box-shadow: 0 0 20px 0 rgb(255,255,255,.1);
    
}
.individual-card:hover{
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.lifecardcontent{
    padding: 10px;
}

.life-cards img{
    width: 100%;
    height: 210px;
    gap: 25px;
}
.life-cards h3{
    font-size: 20px;
    margin: 10px 0;
}
.life-cards a{
    padding: 10px;    
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.life-cards a:hover{
    text-decoration: underline;
}
/*Headers for my life cards*/
#PersonalData{
    text-align: center;
    font-weight: bold;
}

/*Botones*/
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
} 

.btn:hover{
    opacity: .7;
    color: #ffffff;
}
.showcase h2, .showcase p{
    margin-bottom: 10px;
}

.showcase .btn {
    margin-top: 20px;
}
/*Cards banner one*/
.cards-banner-one{
    width: 100%;
    height: 1000px;
    background: url(./Images/chairs-2181960_1920.jpg) no-repeat center center/cover;
    margin-bottom: 40px;
    
}

.cards-banner-one .content{
    width: 40%;
    padding: 770px 10px 0 69px;
    color: #ffffff;
    font-weight: bolder;
}

.cards-banner-one p, .cards-banner-one h2{
    margin: 10px 0 20;
}

/*Cards banner two*/

.cards-banner-two{
    width: 100%;
    height: 1000px;
    background: url(./Images/samsung-memory-NpejFvfVjZw-unsplash.jpg) no-repeat center center/cover;
}
.cards-banner-two .content{
    width: 50%;
    padding: 750px 10px 0 69px;
    color: #ffffff;
    font-weight: bolder;
}
/*Social Networks*/
.social{
    margin: 50px;
}
.columns-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}


.links{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    color: #ffffff;
    margin:10 50px;
}
.linkslight{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkslight a{
    color: #000;
    margin:10 50px;
}

#linkedin:hover{
    color: #0e76a8;
}


#github:hover{
    color: #2f3b4d;
}



#twitter:hover{
    color: #00acee;
}



#reddit:hover{
    color:#FF5700;
}
.links a i{
    padding: 40px;
    font-size: 5rem;
}





#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b70e21; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

#myBtn span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

#myBtn span:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f102';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

#myBtn:hover span {
  padding-right: 25px;
}

#myBtn:hover span:after {
  opacity: 1;
  right: 0;
}

#myBtn:hover {
  background-color:  #d63031; /* Add a dark-grey background on hover */
  transition: background-color 0.5s ease-out;
}


/*Slider*/
.slider img{
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
}

.align-img{
    width: 100%;
    height: auto;
    background-size:cover
}

@supports(object-fit: cover){
.align-img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
}

/*Footer links*/
.footerlinks{
    background: #2f3640;
    color: #616161;
    font-size: 20px;
    padding: 35px 0;
    text-align: center;
}

.footercontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-content: flex-start;
    justify-content: center;
}

.footercontainer ul{
    margin: 0 auto;

}
.footercontainer ul li h3{
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.footercontainer ul li:hover{
    text-decoration: #ffffff;
    font-weight: bold;
    text-align: center;
}

.footercontainer ul li a:hover{
    color: #ffffff;
}


.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

/*Form*/
.form{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}
.contact{
    text-align: center;
    font-size: 3em;
}
#me{
    color:#b70e21;
}
.contact-wrapper{
    box-shadow: 0 0 20px 0 rgb(255,255,255,.3);
}
.light-mode-contact-wrapper{
    box-shadow: 0 0 20px 0 rgb(0,0,0,.7);
}
.contact-wrapper > * {
    padding: 1em;
}
.contact-form{
    background: #222222;
}


.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{
    grid-column: 1 / 3;
}

.contact-form form p{
    margin: 0;
    padding: 1em;
}

.contact-form form button, .contact-form form input, .contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #d63031;
    color: #f2f2f2;
    outline: 0;
}

.contact-form form button{
    background:#b70e21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: #000;
    
}

.contact-form form button:hover,.contact-form form button:focus{
    background: #d63031;
    color: #fff;
    transition: background-color 0.5s ease-out;
    outline: 0;
}

.contact-info{
    background: #000;
    text-align: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact-info ul{
    list-style: none;
    padding: 0;
}
.contact-info ul li{
    padding: 0.3rem;
}
#Cita{
    font-family: 'Quicksand', sans-serif;
    margin-top: 190px;
    font-style: italic;
}
#Nombre_Cita{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.scrolltoTop{
     /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b70e21; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 0.7;
}
.scrolltoTop:hover {
  background-color: #d63031; /* Add a dark-grey background on hover */
}
.light-mode-soci{
    color: #000;
}

.sectioncard{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.cardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    perspective: 1500px;
    
  
}
.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    background: white;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}

.twitterbird {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.twitterbird img{
    width: 20rem;
    z-index: 2;
    transition:all 0.75s ease-out;
}

.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        rgba(245,70,60,0.75),
        rgba(8,83,156,0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1{
    font-size:3rem;
    transition:all 0.75s ease-out;
    color: #0b0d0c;
    text-align: center;
}

.info h3{
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition:all 0.75s ease-out;
    text-align: center;
}

.follow{
    margin-top: 5rem;
    transition:all 0.75s ease-out;
}
.follow button{
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    font-weight: bolder;
    
}

#epilepticworm{
    display: none;
    border: none;
    width: 100%;
    height: 800px;
}

#wormButton{
    align-items: center;
    opacity: 0;
}
.individualcardlight{
    background-color: #ffffff;
    transition: transform .2s;
    box-shadow: 0 0 20px 0 rgba(128, 79, 79, 0.1);
    color: black;
}
.individualcardlight:hover{
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.life-cardsa{
    
    color: #ffffff;      
}

.life-cardsa-light{
    color: #000000;    
}

@media (min-width: 700px){
.form{
    padding: 3rem 3rem;
}

.contact-wrapper > * {
    padding: 2em;

}

.contact-info li{
    font-size: 12px;
    
    line-height: 3em;
    
}

.contact-info h4,
.contact-info ul,
.contact-info p{
padding: .2em;
text-align: left;
    
}

.contact-wrapper{
display: grid;
grid-template-columns: 2fr 1fr;
}

/*Navbar hide*/
.smart-scroll{
    z-index: 1030;
  }
  .scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }
}
/*The end of the normal size part of CSS*/


@media (max-width: 700px){
    .smart-scroll{
        position: fixed;
        
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
      }
      .scrolled-down{
         transform:translateY(-100%); transition: all 0.3s ease-in-out;
      }
      .scrolled-up{
         transform:translateY(0); transition: all 0.3s ease-in-out;
      }

    .menu-btn{
        display: none;
    }
    .menu-btn:hover{
        opacity: .5;
    } 
    
    .life-cards{
        grid-template-columns: repeat(2,1fr);
        height: 80%;
        
    }
    .cards-banner-two .content{
        width: 80%;
    }

    .cards-banner-two .content{
        padding: 195px 20px 0 15px;
    }
   
    .footerlinks .footercontainer{
        grid-template-columns: repeat(2,1fr);
    }
    .columns-links{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

/*Navbar Scroll Down*/

}
@media (max-width: 1050px) {

    .cards-banner-one .content{
        width: 100%;
        padding: 790px 20px 5px 10px;
        color: #ffffff;
        font-weight: bolder;
    }       
    .cards-banner-two .content {
        width: 100%;
        padding: 750px 20px;
        color: #ffffff;
        font-weight: bold;
      }
      .smart-scroll{
        position: fixed;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
      }
      .scrolled-down{
         transform:translateY(-100%); transition: all 0.3s ease-in-out;
      }
      .scrolled-up{
         transform:translateY(0); transition: all 0.3s ease-in-out;
      }
/*Logo Loader position*/
#logo{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 0.5s ease forwards 3.5s;
    z-index: 50000;
}
/*Letters of loader Logo*/
#LetterJ{
    stroke-dasharray: 332.84930419921875px;
    stroke-dashoffset: 332.84930419921875px;
    animation: line-anim 1s ease forwards;
    z-index: 50000;
}
#LetterO{
    stroke-dasharray: 565.9496459960938px;
    stroke-dashoffset: 565.9496459960938px;
    animation: line-anim 1s ease forwards 0.2s;
    z-index: 50000;
}
#LetterN1{
    stroke-dasharray: 606.5611572265625px;
    stroke-dashoffset: 606.5611572265625px;
    animation: line-anim 1s ease forwards 0.3s;
    z-index: 50000;
}
#LetterA1{
    stroke-dasharray:  483.3992004394531px;
    stroke-dashoffset:  483.3992004394531px;
    animation: line-anim 1s ease forwards 0.6s;
    z-index: 50000;
}
#LetterT{
    stroke-dasharray: 356.6719970703125px;
    stroke-dashoffset: 356.6719970703125px;
    animation: line-anim 1s ease forwards 0.9s;
    z-index: 50000;
}
#LetterH{
    stroke-dasharray: 554.528076171875px;
    stroke-dashoffset: 554.528076171875px;
    animation: line-anim 1s ease forwards 1.2s;
    z-index: 50000;
}
#LetterA2{
    stroke-dasharray: 483.3992004394531px;
    stroke-dashoffset: 483.3992004394531px;
    animation: line-anim 1s ease forwards 1.5s;
    z-index: 50000;
}
#LetterN2{
    stroke-dasharray: 606.5611572265625px;
    stroke-dashoffset: 606.5611572265625px;
    animation: line-anim 1s ease forwards 1.8s;
    z-index: 50000;
}
/*The animation itself*/
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
        z-index: 50000;
    }
}
@keyframes fill{
    from{
        fill: transparent;
        z-index: 50000;
    }
    to{
        fill: white;
    }
}
.loader {
    display: inline-block;
    width: 75px;
    height: 75px;
    position: center;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
    z-index: 50000;
  } 
  .columns-links{
    display: grid;
    position: relative;
  
}  
    
}
@media (max-width: 500px) {
    .smart-scroll{
        position: fixed;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .scrolled-down{
        transform:translateY(-100%); transition: all 0.3s ease-in-out;
    }
    .scrolled-up{
        transform:translateY(0); transition: all 0.3s ease-in-out;
    }
    .columns-links{
        display: grid;
        position: center;
        
        grid-template-columns: 1fr 1fr;
    }
      
#myBtn {
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #b70e21; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
  
#myBtn span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  
}
  
#myBtn span:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f102';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
  
#myBtn:hover span {
    padding-right: 25px;
}
  
#myBtn:hover span:after {
    opacity: 1;
    right: 0;
}
  
#myBtn:hover {
    background-color:  #d63031; /* Add a dark-grey background on hover */
    transition: background-color 0.5s ease-out;
}

.life-cards {
      grid-template-columns: 1fr;
      height: 0%;
}
.life-cards img{
        height: 270px;
}
.columns-links{
        
        display: grid;
        
        grid-template-columns: 1fr 1fr;
}
.cards-banner-one .content{
        width: 100%;
        padding: 750px 20px 5px 10px;
        color: #ffffff;
}
.cards-banner-two .content {
      width: 100%;
      padding: 750px 20px;
      color: #ffffff;
      font-weight: bold;
}
.footer-links .footer-container {
      grid-template-columns: 1fr;
}
  
.footer-links .footer-container ul {
      text-align: center;
}
/*Logo Loader position*/
#logo{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 0.5s ease forwards 3.5s;
    z-index: 50000;
}
/*Letters of loader Logo*/
#LetterJ{
    stroke-dasharray: 332.84930419921875px;
    stroke-dashoffset: 332.84930419921875px;
    animation: line-anim 1s ease forwards;
    z-index: 50000;
}
#LetterO{
    stroke-dasharray: 565.9496459960938px;
    stroke-dashoffset: 565.9496459960938px;
    animation: line-anim 1s ease forwards 0.2s;
    z-index: 50000;
}
#LetterN1{
    stroke-dasharray: 606.5611572265625px;
    stroke-dashoffset: 606.5611572265625px;
    animation: line-anim 1s ease forwards 0.3s;
    z-index: 50000;
}
#LetterA1{
    stroke-dasharray:  483.3992004394531px;
    stroke-dashoffset:  483.3992004394531px;
    animation: line-anim 1s ease forwards 0.6s;
    z-index: 50000;
}
#LetterT{
    stroke-dasharray: 356.6719970703125px;
    stroke-dashoffset: 356.6719970703125px;
    animation: line-anim 1s ease forwards 0.9s;
    z-index: 50000;
}
#LetterH{
    stroke-dasharray: 554.528076171875px;
    stroke-dashoffset: 554.528076171875px;
    animation: line-anim 1s ease forwards 1.2s;
    z-index: 50000;
}
#LetterA2{
    stroke-dasharray: 483.3992004394531px;
    stroke-dashoffset: 483.3992004394531px;
    animation: line-anim 1s ease forwards 1.5s;
    z-index: 50000;
}
#LetterN2{
    stroke-dasharray: 606.5611572265625px;
    stroke-dashoffset: 606.5611572265625px;
    animation: line-anim 1s ease forwards 1.8s;
    z-index: 50000;
}
/*The animation itself*/
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
        z-index: 50000;
    }
}
@keyframes fill{
    from{
        fill: transparent;
        z-index: 50000;
    }
    to{
        fill: white;
    }
}

.loader {
    display: inline-block;
    width: 75px;
    height: 75px;
    position: relative;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
    z-index: 50000;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 0.9s infinite ease-in;
    z-index: 50000;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
      z-index: 50000;
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
    
}
@media (max-width: 400px) {
    .columns-links{
        display: grid;
        position: center;
        left: -13%;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 1400px){
    #logo{
        display: none;
    }
    .loader {
    margin-left: -4.5%;
    }
}

@media (max-width: 800px){
    .loader {
    margin-left: auto;
    }
}